.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

h3 {
  margin-bottom: 50px;
}

.todosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 40px;
}
