* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif !important;
}

button { cursor: pointer; }
.border { border: 1px solid #000000; }

.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }

.m-5 { margin: 5px; }
.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }

.color-red { color: #fd4b4b; }
.color-green { color: #66eb73; }
.color-error { color: #780901; }

.bg-red { background-color: #fd4b4b; }
.bg-green { background-color: #66eb73; }
.bg-error { background-color: #780901; }
